* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: aqua;
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(6, 60px);
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.calculator-grid button {
  cursor: pointer;
  font-size: 1.5rem;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / 5;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
}

.output .current-operand {
  color: rgba(255, 255, 255);
  font-size: 1.5rem;
}
